* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header__menu {}

.zafar {}

.aziz {
  
}

.text{
  width: 684px;
  height: 37px;
  font-size: 30px;
  color: red;
}

.text1{
  width: 74px;
  height: 15px;
  font-size: 12px;
}

.button{
  width: 122px;
  height: 24px;
  color: #9A3C48;
  
  
  
  
  
}

.buy{
  
}

.dovron {}

.fazliddin {}

.sardor {}

.footer {}